name: CI

on:
  push:
    branches:
      - master
  pull_request:
  schedule:
    - cron: '50 4 * * *'
  workflow_dispatch:

env:
  rust_toolchain: nightly

jobs:
  compile:
    name: Compile
    runs-on: ubuntu-latest
    steps:
      - name: Setup | Checkout
        uses: actions/checkout@v3
      - name: Setup | Rust
        uses: dtolnay/rust-toolchain@1.66.0
        with:
          toolchain: ${{ env.rust_toolchain }}
          components: rustfmt, clippy, rust-src
      - name: Build | Fmt Check
        run: cargo fmt -- --check
      - name: Build | Clippy
        run: cargo clippy --features experimental,nightly --no-deps --target riscv32imc-esp-espidf -Zbuild-std=std,panic_abort -Zbuild-std-features=panic_immediate_abort -- -Dwarnings
      - name: Build | Experimental
        run: cargo build --features experimental,nightly --target riscv32imc-esp-espidf -Zbuild-std=std,panic_abort -Zbuild-std-features=panic_immediate_abort
      - name: Build | Compile / no_std, alloc
        run: cargo build --no-default-features --features experimental,nightly,alloc,use_serde,use_strum,use_numenum,log --target riscv32imc-esp-espidf -Zbuild-std=core,alloc,panic_abort -Zbuild-std-features=panic_immediate_abort
      - name: Build | Compile / no_std
        run: cargo build --no-default-features --features experimental,nightly,use_serde,use_strum,use_numenum,log --target riscv32imc-esp-espidf -Zbuild-std=core,alloc,panic_abort -Zbuild-std-features=panic_immediate_abort
      - name: Build | Compile / defmt
        run: cargo build --no-default-features --features std,experimental,nightly,use_serde,use_strum,use_numenum,defmt --target riscv32imc-esp-espidf -Zbuild-std=std,panic_abort -Zbuild-std-features=panic_immediate_abort
      - name: Build | Compile / defmt, no_std
        run: cargo build --no-default-features --features experimental,nightly,use_serde,use_strum,use_numenum,defmt --target riscv32imc-esp-espidf -Zbuild-std=core,alloc,panic_abort -Zbuild-std-features=panic_immediate_abort

